<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>SharpSansNo1-Black.ttf</string>
		<string>SharpSansNo1-BlackItalic.ttf</string>
		<string>SharpSansNo1-Bold.ttf</string>
		<string>SharpSansNo1-BoldItalic.ttf</string>
		<string>SharpSansNo1-Book.ttf</string>
		<string>SharpSansNo1-BookItalic.ttf</string>
		<string>SharpSansNo1-Extrabold.ttf</string>
		<string>SharpSansNo1-ExtraboldItalic.ttf</string>
		<string>SharpSansNo1-Semibold.ttf</string>
		<string>SharpSansNo1-SemiboldItalic.ttf</string>
		<string>SharpSansNo1-ThinItalic.ttf</string>
		<string>SharpSansNo1-Thin.ttf</string>
		<string>SharpSansNo1-Ultrathin.ttf</string>
		<string>SharpSansNo1-Hairline.ttf</string>
		<string>SharpSansNo1-UltrathinItalic.ttf</string>
		<string>SharpSansNo1-Light.ttf</string>
		<string>SharpSansNo1-LightItalic.ttf</string>
		<string>SharpSansNo1-MediumItalic.ttf</string>
		<string>SharpSansNo1-Medium.ttf</string>
		<string>SharpSansNo1-HairlineItalic.ttf</string>
	</array>
</dict>
</plist>
